body{
    font-family: 'Noto Sans', sans-serif;
    color: #212121;
}
main{
    margin-top: 270px;
    min-height: calc(100vh - 270px - 6rem - 14px);
}
main h2{
    margin-bottom: 90px;
}
.btn-main{
    background-color: #0f3e7d;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 15px;
    color: #fff;
}
.btn-main:hover, .btn-main:focus{
    background-color: #3566ab;
    color: #fff;
}
.navbar-image{
    width: 160px;
}
.nav_search{
    width: 40%;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 0.4rem;
}
.nav_input_search{
    border: none;
    font-size: 0.8rem;
}
.form-control:focus {
    box-shadow: none;
}
.btn-nav{
    font-size: 11px;
    padding: 2px 15px;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.main_section{
    margin-bottom: 120px;
}
.category_menu{
    background-color: #0f3e7d;

    font-size: 14px;
}
.category_menu .nav-link{
    color: aliceblue!important;
}

.navbar-nav .dropdown-menu {
    background-color: #0f3e7d;
    border: 0;
}
.dropdown-item {
    color:aliceblue!important;
    font-size: 12px;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #3566ab;
}

.tile{
    height: 100%;
    background-size: cover;
    background-position: center;
    height: 13vw;
}
.tile_bg{
 height: 100%;
 width: 100%;
 position: relative;
background: rgb(10 66 142 / 70%);

}

.tile_text{
    position: relative;
    color: #fff;
    top: -60%;
    font-size: 26px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.btn-carousel:focus+.btn, .btn-carousel:focus {
    box-shadow: 0 0 0.5em #eee;
}

.btn-carousel{
    box-shadow: 0 0 0.5em #eee;
    position: absolute;
    top: 40%;
    color: #ccc;
    opacity: 1;
}
.slick-slide{
    outline: 0;
    padding: 20px;
}
.draggable{
    padding: 0!important;
    }
.btn-prev {
    left: -40px;
}
.btn-next {
    right: -40px;
}
.main_carousel_link{
    color: #757575;
    text-decoration: none;
}
.main_carousel_link:hover{
    color: #757575;
}
.main_carousel_link .name{
    margin-top: 20px;

}
.main_carousel_link .price{
    color: #2c2c2c;
}
.main_carousel_link :hover img{
    opacity: 0.7;
}

.form-box{
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 30px;
}

.login-form h3{
    text-align: center;
    margin-bottom: 40px;
}
.tabcontent{
    display: none;
}
.tablinks{
    color: #0f3e7d;
    margin-top: auto;
}
.tablinks:hover{
    color: #919191;
}
.active{
    display: block;
}
.cart-summary{
    border: 1px solid #ccc
    ; border-radius: 0.8rem; 
    padding: 10% 5%;
}

.total_amount{
    font-weight: 800;
    padding-left: 0.5rem;
}
.tabcontent {
    animation: fadeEffect 1s;
  }
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.product_details h3{
    margin-bottom: 3rem;
}
.product-select{
    height: 100%;
    padding: 0 10px;
    margin-right: 20px;
}
.product_availability{
    margin-bottom: 20px;
}
.product-description-container{
    margin-top: 6rem;
}
.product-description-box{
    margin-bottom: 100px;
}
.product-description-container{
    margin-bottom: 230px;
}
.footer_item{
    margin: auto .5rem;
}
.footer_link{
    text-decoration: none;
    color: #999;
    font-size: 14px;
}
.footer_link:hover{
    color: #888;
}
.profile_nav {
}
.profile_nav li{
    border bottom: 2px solid #aaa;
    padding: 10px 20px;
    
}
.profile_nav a{
    text-decoration: none;
}
@media (max-width: 575.98px) { 
    
}

@media (max-width: 767.98px) {
    .carousel_section{
        padding: 0 60px;
    }
    .btn-prev {
        left: -20px;
    }
    .btn-next {
        right: -20px;
    }
}

@media (max-width: 991.98px) {
    .nav_search{
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1199.98px) {
    .carousel_section{
        padding: 0 30px;
    }
    .cart-product-image{
        width: 400px;
    }
}